.syntaxhighlighter {background-color:#FFFFFF !important;}
.syntaxhighlighter .line.alt1 {background-color:#FFFFFF !important;}
.syntaxhighlighter .line.alt2 {background-color:#FFFFFF !important;}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {background-color:#FFFFFF !important;}
.syntaxhighlighter .line.highlighted.number { color:#EAEAF2 !important;}
.syntaxhighlighter table caption { color:#EAEAF2 !important;}
.syntaxhighlighter .gutter { color: #2B91AF !important;}
.syntaxhighlighter .gutter .line {border-right: 3px solid #FFFFFF !important;}
.syntaxhighlighter .gutter .line.highlighted { background-color: #FFFFFF !important; color: #2B91AF !important; }
.syntaxhighlighter.printing .line .content { border: none !important; }
.syntaxhighlighter.collapsed { overflow: visible !important; }
.syntaxhighlighter.collapsed .toolbar { color: #808080 !important; background: #FFFFFF !important; border: 1px solid #808080 !important; }
.syntaxhighlighter.collapsed .toolbar a {color: #808080 !important;}
.syntaxhighlighter.collapsed .toolbar a:hover {color: #808080 !important;}
.syntaxhighlighter .toolbar { color: #000000 !important; background: #FFFFFF !important; border: none !important; }
.syntaxhighlighter .toolbar a {color: #000000 !important; }
.syntaxhighlighter .toolbar a:hover { color: #000000 !important; }
.syntaxhighlighter .plain, .syntaxhighlighter .plain a { color: #000000 !important; }
.syntaxhighlighter .comments, .syntaxhighlighter .comments a { color: #008000 !important; }
.syntaxhighlighter .string, .syntaxhighlighter .string a { color: #A31515 !important; }
.syntaxhighlighter .keyword { color: #0000FF !important; }
.syntaxhighlighter .preprocessor { color: #0000FF !important; }
.syntaxhighlighter .variable { color: #000000 !important; }
.syntaxhighlighter .value { color: #000000 !important; }
.syntaxhighlighter .functions { color: #000000 !important; }
.syntaxhighlighter .constants { color: #000000 !important; }
.syntaxhighlighter .script { font-weight: bold !important; color: #808080 !important; background-color: none !important; }
